body {
    background-color: black;
    font-family: monospace;
}

canvas {
    visibility: hidden;
}

#root {
    text-align: center;
}

table {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    font-size: 9px;
    border-collapse: collapse;
}

.cell {
    border: none;
    padding: 0px;
    width: 10px;
    height: 10px;
}
